<form id="form{{department.id}}" class="display-contents" method="post" action="{{ path('app_departments_delete', {'id': department.id}) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.id) }}">
	<a data-id="form{{department.id}}" class="delete-data btn btn-danger btn-sm delete-btn" title="Supprimer">
		<i class="fas fa-trash"></i>
        Supprimer
    </a>
</form>
