<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Nouvel évènement - RootHR</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #f3f3f3;
				font-family: Helvetica, Arial, sans-serif;
			}

			.text-center {
				text-align: center;
			}

			.title {
				padding: 1rem;
				color: white;
				background-color: #2a2a2a;
			}
		</style>
	</head>

	<body>
		<div class="body">
			<div class="container">
				<div class="title text-center">
					<h1>Nouvel évènement - RootHR</h1>
				</div>
				<div class="content">
					<p class="">
						<a href="mailto:{{user.email}}">{{user.email}}</a>
						vient d'ajouter un évènement avec vous dans votre planning.
					</p>
					<p>Connectez-vous avec vos identifiants pour voir les mises à jour de votre calendrier.</p>
					<br>
					<p>Cordialement.</p>
					<i>L'équipe de RootHR</i>
				</div>
			</div>
		</div>
	</body>

</html>
