{% extends 'base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}
{% block header %}
Modifier l'utilisateur
{% endblock %}
{% block body %}
<a class="mb-5" href="{{ path('app_user_index') }}">
	<button class="btn btn-sm btn-outline-primary">
		<i class="fas fa-arrow-left"></i>
		Retour à la liste</button>
</a>
{{ include('user/_form.html.twig', {'button_label': 'Valider'}) }}
{% endblock %}